<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" name="activityForm" novalidate>
      <div class="input-group">
        <input type="text"
          class="form-control"
          ng-model="activityPanelCtrl.newActivity.name"
          required>
        <div class="input-group-btn">
          <button type="submit"
            class="btn btn-success"
            ng-click="activityPanelCtrl.addActivity()"
            ng-disabled="!activityForm.$valid">Add</button>
        </div><!-- input-group-btn -->
      </div><!-- input-group -->
    </form>
  </div><!-- panel-body -->
  <div class="panel-body">
    <table class="table">
      <th>Name</th>
      <tr ng-repeat="activity in activityPanelCtrl.activities()">
        <td>
          {{activity.name}}  <!-- FIXME -->
        </td>
      </tr>
    </table>
  </div><!-- panel-body -->
</div>
