<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" name="activityForm" novalidate>
      <div class="input-group">
        <input type="text"
          class="form-control"
          ng-model="activitiesCtrl.newActivity.name"
          required>
        <div class="input-group-btn">
          <button type="submit"
            class="btn btn-success"
            ng-click="activitiesCtrl.addActivity()"
            ng-disabled="!activityForm.$valid">Add</button>
        </div><!-- input-group-btn -->
      </div><!-- input-group -->
    </form>
  </div><!-- panel-body -->
  <div class="panel-body">
    <table class="table">
      <th>Name</th>
      <th></th>
      <tr ng-repeat="activity in activitiesCtrl.activities()">
        <td>{{activity.name}}</td>
        <td>
          <!-- FIXME The "Remove" button should have a symbol rather than the
               word "Remove", and should have a confirmation dialog. -->
          <button type="button"
            class="btn btn-danger pull-right"
            ng-click="activitiesCtrl.removeActivity(activity)">Remove</button>
        </td>
      </tr>
    </table>
  </div><!-- panel-body -->
</div>
