<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" name="ctrl.form" ng-submit="ctrl.addActivity()" novalidate
      autocomplete="off" valdr-type="Activity">
      <div valdr-form-group ng-class="{ 'has-error': ctrl.showError('name') }">
        <div class="input-group">
          <input type="text" name="name" class="form-control" ng-model="ctrl.newActivity.name">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
          </div><!-- input-group-btn -->
        </div><!-- input-group -->
      </div>
    </form>
  </div><!-- panel-body -->
  <div class="panel-body">
    <table class="table">
      <th>Name</th>
      <th></th>
      <tr dir-paginate="activity in ctrl.shownActivities | itemsPerPage: ctrl.activitiesPerPage"
        total-items="ctrl.numActivities" current-page="ctrl.pagination.current">
        <td>{{activity.name}}</td>
        <td>
          <button type="button" class="btn btn-xs btn-danger pull-right"
            ng-click="ctrl.removeActivity(activity)">
            <i class="fa fa-close"></i>
          </button>
        </td>
      </tr>
    </table>
    <dir-pagination-controls on-page-change="ctrl.pageChanged(newPageNumber)"></dir-pagination-controls>
  </div><!-- panel-body -->
</div>
