<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" name="ctrl.form" ng-submit="ctrl.addActivity()" novalidate
      autocomplete="off">
      <div ng-class="{ 'has-error': ctrl.activity.errorsFor('name').length !== 0 }">
        <div class="input-group">
          <input type="text" name="name" class="form-control" ng-model="ctrl.activity.name"
            placeholder="Enter name of activity to add">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-info">
              Add
            </button>
          </div><!-- input-group-btn -->
        </div><!-- input-group -->
        <div ng-repeat="error in ctrl.activity.errorsFor('name')" class="help-block"
          role="alert">
          <div>{{error}}</div>
        </div>
      </div>
    </form>
  </div><!-- panel-body -->

  <div class="panel-body">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="row in ctrl.rows | itemsPerPage: ctrl.rowsPerPage"
          total-items="ctrl.totalRows" current-page="ctrl.currentPage">
          <td ng-click="ctrl.toggleActivity(row)">
            <span ng-bind="row.activity"></span>
            <span ng-show="ctrl.isActive(row)" data-toggle="tooltip" title="currently active">*
            </span>
          </td>
          <td>
            <div class="pull-right">
              <button type="button" class="btn btn-xs btn-info"
                ng-show="row.removable"
                ng-click="ctrl.removeActivity(row)">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <dir-pagination-controls boundary-links="true"
      on-page-change="ctrl.pageChanged(newPageNumber)">
    </dir-pagination-controls>
  </div><!-- panel-body -->
</div>
