<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" name="ctrl.form" ng-submit="ctrl.reset()" novalidate autocomplete="off"
      class="form-horizontal">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="input-group separate-vertically">
            <span class="input-group-addon" id="start-date-addon">From</span>
            <input type="text" class="form-control" ng-model="ctrl.startDate" id="min-date"
              aria-describedby="start-date-addon"
              name="startDate" is-open="ctrl.startDatePopup.opened"
              min-date="ctrl.minDate" max-date="ctrl.maxDate"
              datepicker-options="ctrl.datePickerOptions"
              ng-required="true" close-text="Close" placeholder="YYYY-MM-DD"
              alt-input-formats="ctrl.altDateInputFormats"
              uib-datepicker-popup="{{ctrl.datePickerFormat}}">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctrl.openStartDate()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div><!-- col -->

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="input-group separate-vertically">
            <span class="input-group-addon" id="end-date-addon">To</span>
            <input type="text" class="form-control" ng-model="ctrl.endDate" id="max-date"
              aria-describedby="end-date-addon"
              name="endDate" is-open="ctrl.endDatePopup.opened"
              min-date="ctrl.minDate" max-date="ctrl.maxDate"
              datepicker-options="ctrl.datePickerOptions"
              ng-required="true" close-text="Close" placeholder="YYYY-MM-DD"
              alt-input-formats="ctrl.altDateInputFormats"
              uib-datepicker-popup="{{ctrl.datePickerFormat}}">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctrl.openEndDate()">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div><!-- col -->

        <div class="col-lg-6 col-md-4 col-sm-12">
          <div class="input-group separate-vertically">
            <span class="input-group-addon" id="activity-name-addon">Activity</span>
            <input type="text" id="activity-name" name="activityName"
              aria-describedby="activity-name-addon" class="form-control"
              ng-model="ctrl.activityName" placeholder="Enter name, or part thereof">
          </div>
        </div><!-- col -->

        <div class="col-lg-1 col-md-6 col-sm-6">
          <button type="button" class="btn separate-vertically" ng-click="ctrl.clear()">
            Clear
          </button>
        </div>

        <div class="col-lg-1 col-md-6 col-sm-6">
          <button type="button" class="btn btn-info pull-right separate-vertically"
            ng-click="ctrl.generate()">
            Generate
          </button>
        </div>
      </div><!-- row -->
    </form>
  </div><!-- panel-body -->
  
  <div class="panel-body">
    <!-- FIXME Render the actual report in here. -->
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.reportItems">
          <td ng-bind="item.activityName"></td>
          <td ng-bind="item.duration | duration: { 'expanded': true }"></td>
        </tr>
      </tbody>
    </table>
  </div><!-- panel-body -->
</div><!-- panel -->
